{
	margin:0;
	position:0;
}
<*--------navigation--------*>
#nav-bar
{
	position:sticky;
	top:0;
	z-index:10;
}
 .navbar-nav li
 {
 	padding:0 20px;
	
 }
. navbar-nav li
 {
 	float:right;
	text align : left
	
 }
 #navbar-nav ul li a:hover
 {
 	colour:#007bff!important;
	
 }
 .nav-bar
 {
 	background:#fff;
 }
 .navbar-toggler
 {
 	border:none!important
 }
 .nav-link
 {
 	colour:#555!impotant;
	font-weight:600;
	font-size:16px;
	
 }
